.pokemonEvolutionChain {

  &__title {
    font-size: clamp(var(--text-base), 2.8vw, var(--text-xlarge));
    text-align: left;
    padding: 30px 0 10px 0;
  }

  &__item {
    display: grid;
    gap: 5px;

    &Container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;

      &:not(:last-child) {
        border-bottom: 1px solid var(--grey-1);
      }
    }
  }

  &__image {
    width: 100%;
    max-width: 80px;
  }

  &__name {
    font-size: clamp(var(--text-small), 2vw, var(--text-base));
    text-transform: capitalize;
  }
}