.mainCard {
    display: flex;
    height: 60px;
    max-width: 170px;
    border-radius: 15px;
    justify-content: start;
    align-items: center;
    
    box-shadow: 0 20px 15px -15px #2CDAB1;

    background: #46A487;
    background-image:url("/icons/Ellipse.svg"), url("/icons/Subtract.svg"); /* fallback */
    background-image:url("/icons/Ellipse.svg"), url("/icons/Subtract.svg"), linear-gradient(8.46deg, #46A487 -0.58%, #46D7AB 108.38%); /* W3C */
 
    background-repeat: no-repeat;
    background-position: left top, right;


    &--red {background: linear-gradient(0deg, #F7786B, #F7786B),
        linear-gradient(10.25deg, #FC7F63 -12.11%, #FDCC6E 136.64%);
       
        box-shadow: 0 20px 15px -15px  #FA6555;

        background: #F7786B;
        background-image:url("/icons/Ellipse.svg"), url("/icons/Subtract.svg"); /* fallback */
        background-image:url("/icons/Ellipse.svg"), url("/icons/Subtract.svg"), linear-gradient(0deg, #F7786B, #F7786B),
        linear-gradient(10.25deg, #FC7F63 -12.11%, #FDCC6E 136.64%);

        background-repeat: no-repeat;
        background-position: left top, right;

        }

    &--blue {background: linear-gradient(0deg, #58ABF7, #58ABF7),
        linear-gradient(7.97deg, #64A9FA -0.55%, #6DC1FD 107.61%);

        box-shadow: 0 20px 15px -15px  #429BED;

        background: #64A9FA;
        background-image:url("/icons/Ellipse.svg"), url("/icons/Subtract.svg"); /* fallback */
        background-image:url("/icons/Ellipse.svg"), url("/icons/Subtract.svg"),
        linear-gradient(0deg, #58ABF7, #58ABF7),
        linear-gradient(7.97deg, #64A9FA -0.55%, #6DC1FD 107.61%);

        background-repeat: no-repeat;
        background-position: left top, right;
        } 

    &--yellow {background: #FFCE4B;
        background-image:url("/icons/Ellipse.svg"), url("/icons/Subtract.svg"); /* fallback */
       
        box-shadow: 0 20px 15px -15px #F6C747;

        background-repeat: no-repeat;
        background-position: left top, right;
        
    }    

    &--purple {background: #7C538C;
        background-image:url("/icons/Ellipse.svg"), url("/icons/Subtract.svg");

        box-shadow: 0 20px 15px -15px #9F5BBA;

        background-repeat: no-repeat;
        background-position: left top, right;
    }

    &--brown {background: #B1736C;
        background-image:url("/icons/Ellipse.svg"), url("/icons/Subtract.svg");

        box-shadow: 0 20px 15px -15px #CA8179;

        background-repeat: no-repeat;
        background-position: left top, right;
       
    }

    &__title {
        font-weight: 500;
        font-size: 14px;
        color: #fff;
        padding-left: 18px;
    }

    &__link {
        text-align: left;
        text-decoration: none;
        width: 100%;       
    }
}

