.pokedexCards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: center;

  &__container {
    padding-top: 36px;
  }
}

@media (min-width: 400px) {
  .pokedexCards {
    grid-template-columns: repeat(2, 1fr);
  }
}