.homePage {
  background-image: url('/images/ellipse.png');
  background-position: right top;
  background-repeat: no-repeat;

  &__mainContent {
    margin: 0 auto;
    width: 90%;
    max-width: 1280px;
    height: 70vh;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px; 
  }
}