.pokedexPage {
  background-image: url('/icons/Ellipse.svg');
  background-position: right top;
  background-repeat: no-repeat;

  & > * {
    margin: 0 auto;
    width: 90%;
    max-width: 1280px;
  }
}