:root {
  /* font family */
  --main-font-family: 'Circular Std', sans-serif;

  /* font size (based on +2px)*/
  --text-3xsmall: .5rem; // 8px
  --text-2xsmall: .625rem; // 10px
  --text-xsmall: .75rem; // 12px
  --text-small: .875rem; // 14px
  --text-base: 1rem; // 16px
  --text-large: 1.125rem; // 18px
  --text-xlarge: 1.25rem; // 20px
  --text-2xlarge: 1.375rem; // 22px
  --text-3xlarge: 1.5rem; // 24px
  --text-4xlarge: 1.625rem; // 26px
  --text-5xlarge: 1.75rem; // 28px
  --text-6xlarge: 1.875rem; // 30px
  --text-7xlarge: 2rem; // 32px
  --text-8xlarge: 2.125rem; // 34px
  --text-9xlarge: 2.25rem; // 36px
  --text-10xlarge: 2.375rem; // 38px
  --text-11xlarge: 2.5rem; // 40px

  /* colors */
  --black: #303943;
  --black-1: rgba(48, 57, 67, .6);
  --black-2: rgba(48, 57, 67, .4);
  --blue: #6C79DB;
  --white: #FFFFFF;
  --grey-1: #F5F5F5;
  --red: #FB6C6C;
  --green: #4BC07A;
}