.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  border: none;
  border-radius: 100px;
  background-color: var(--grey);
  padding: 9px 40px 9px 12px;

  &__input {
    font-family: var(--main-font-family);
    font-size: var(--text-small);
    color: var(--black);
    opacity: .4;
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 6px;

    &:focus {
      background-color: transparent;
    }

    &Label--visuallyHidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;   
    } 
  }
}